@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&family=Karla:ital,wght@1,300&display=swap');
.weatherBg{
    background:url('background.jpg') ;
    height: 35vh;
    background-size:cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.heading{
     color:rgb(252, 252, 0);
     background-color: rgb(35 113 180);
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}

.weatherResultBox{
    margin: auto;
    margin-bottom: 20px ;
    width: 500px;
    height: 500px;
}

.weatherIcon{
    width: 100px;
    height: 100px;
    margin: 2rem;
    
}

.weatherCity{
    font-size: 35px;
}
.weatherTemp{
    font-size: 45px;
    font-weight: 700;
}
.weatherPressure{
    font-size: 30px;
    font-weight: bold;
}
.weatherHumidity{
    font-size: 30px;
    font-weight: bold;
}