.weatherBg{
    background:url('background.jpg') ;
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.heading{
    color: white;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.weatherResultBox{
    margin: auto;
    width: 500px;
    height: 300px;
}

.weatherIcon{
    width: 100px;
    height: 100px;
    margin: 2rem;
    
}

.weatherCity{
    font-size: 35px;
}
.weatherTemp{
    font-size: 45px;
    font-weight: 700;
}
.weatherPressure{
    font-size: 30px;
    font-weight: bold;
}
.weatherHumidity{
    font-size: 30px;
    font-weight: bold;
}